.container {
  height: 100vh;
}

.data-container {
  height: 100%;
}

.result-box {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 50vh; /* Set max height to 50% of viewport height */
  margin-bottom: 10px;
}

.materialize-textarea {
  overflow-y: scroll !important;
  max-height: 200px;
  border: none;
}

.display-textarea {
  min-height: 200px !important;
}

.title {
  display: inline-block;
}

.title-container {
  text-align: center;
}

/* Responsive styles */
@media (max-width: 450px) {
  .result-box {
    max-height: 40vh; /* Adjust max height for smaller screens */
  }

  #inputText {
    min-height: 100px !important;
    max-height: 200px !important; /* Adjust max height for text input on smaller screens */
  }

  .display-textarea {
    min-height: 300px !important;
  }
}
