
* {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth
}

body {
    background: white;
    margin: 0;
}

.container-top {
    /* background-cover: url('https://i.pinimg.com/originals/3b/de/44/3bde44fdd38d4fdf99fec7aa272ef1d1.gif'); */
    /* background-repeat: no-repeat; */
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&auto=format&fit=crop&w=2857&q=80");
		background-repeat: no-repeat;
		background-color: black;
		background-position: center;
    background-size: cover;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

.container-top a {
    color: white;
    text-align: center;
    text-decoration: none;
    position: absolute;
    /* left: 50%; */
    top: 95%;
}

.container-top div {
    /* display: flex;
    flex-flow: column;
    justify-content: center; */
    color: white;
    /* color: black; */
    text-align: center;
    margin-bottom: 28rem;
}

.container-top div h3 span {
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.container-top div h3 {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.text-container{
    font-size: 1.5rem;
}

nav {
    background-color: #343a40;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2.5rem;
    height: 4.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
		transition: 0.3s;
		padding: 4.5rem;
		opacity: 0.75
}

nav a:hover{
		color: #14FFFF;
		font-weight: 600;
		text-decoration: none;
		opacity: 1;
}

.container-intropara {
    font-size: 3rem;
    padding: 4rem 6rem;
    margin: 3rem;
    text-align: center;
}

.container-intropara p {
    font-weight: 400;
    line-height: 2;
    color: grey;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#title {
    font-size: 2rem;
    color: white;
}

.line {
    margin: 2rem 5rem;
}

.container-allimages {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin: 1rem 4rem;
}

.container-images {
    padding: 1rem;
    font-weight: 400;
    margin: 1rem 0;
}

.container-images h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 1.5rem 1rem;
    font-weight: 400;
}

.container-images p {
    color: grey;
    line-height: 2;
}

.container-images img {
    width: 22rem;
    height: 14rem;
    border-radius: 1rem;
    display: block;
    border: 1px solid lightgrey;
    margin: 1rem 1rem;
    transition: all .2s ease-in-out;
}

.container-images img:hover {
    transform: scale(1.025);
}

.container-images a {
    text-decoration: none;
    color: black;
    /* display: block; */
    margin: 2rem 2rem 1.5rem 1rem;
}

.container-images a:hover {
    background-color: lightgray;
    border-radius: 0.5rem;
}

.modal-body {
    display:flex;
    justify-content: center;
}

.modal-body a {
    margin: 0 1rem;
}

.banner p {
    color: grey;
    margin: 0 4.5rem;
}

.banner a {
    color: black;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 2rem 0 4rem 0;
}

.footer i {
    font-size: 3rem;
    color: black;
    margin: 0 1rem;
}

@media only screen and (max-width: 940px) {
    body {
      background-color: white;
    }

    .container-top {
        /* background: url("https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&auto=format&fit=crop&w=2857&q=80"); */
        width: auto;
        height: 80vh;
        background-color: #000000;
        background-size: contain;
        background-position: center center;

    }

    .container-top a {
        font-size: 1.2rem;
        position: absolute;
        top: 90%;
    }

    .container-top div h1 {
        font-size: 3rem;
    }

    .container-intropara {
        padding: 0;
    }

    .container-allimages {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        margin: 0rem 0rem;
    }

    .container-images img {
        width: 16rem;
        height: 11rem;
        margin: 1rem auto;
    }

    #title {
        font-size: 3rem;
    }

    .container-images {
        margin: 1.5rem auto;
        padding: 0;
    }
  }

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Floating 'learn more'
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

  .title {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Hide / Show Feature
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  .hide {
    opacity: 0;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
  }
  .show {
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
  }

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Loader
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #eee;
} */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 3s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 3s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
